@import url("https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css");

:root {
  // Colors
  --border-color: rgba(0, 0, 0, .125);
  --body-bg-color: #f3f3f6;
  --shadow-color: #f0f0f1;
  --element-bg-color: #fcfcfc;
  --item-color: #82858d;
  --gray-bg-color: #e7e7eb;

  // Shadow
  --shadow: var(--body-bg-color) 0px 4px 12px;

}

html,
body {
  font-size: 16px;
  background-color: var(--body-bg-color);
}

.animate__animated {
  animation-duration: 0.5s;
}

// Animations
.animate-wrap {
  &:hover {
    .scale-up {
      transform: scale(1.05);
    }
  }
  &:active {
    .scale-up {
      transition: all .2s;
      animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
  }
}

@keyframes flip-horizontal-bottom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}